<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Record audio and Encrypt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <h1>Audio Recorder and Encrypt</h1>
    <p>
      Convert recorded audio to:<br />
      <select id="encodingTypeSelect">
        <option value="ogg">Ogg Vorbis (.ogg)</option>
        <option value="wav">Waveform Audio (.wav)</option>
        <option value="mp3">MP3 (MPEG-1 Audio Layer III) (.mp3)</option>
      </select>
    </p>
    <p>
      Playaudio:<br />
      <input type="text" id="audioId" />
      <button id="start">Play</button>
    </p>
    <div id="controls">
      <button id="recordButton">Record</button>
      <button id="stopButton" disabled>Stop</button>
      <button id="reSend">reSend</button>
    </div>
    <div id="formats"></div>
    <h3>Log</h3>
    <pre id="log"></pre>

    <h3>Recordings</h3>
    <ol id="recordingsList"></ol>

    <script src="https://unpkg.com/node-forge@0.7.0/dist/forge.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="js/WebAudioRecorder.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
